:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

svg {
  width: 100%;
}

img,
svg {
  height: auto;
  display: block;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
